$orange : #EAB708;

.orange-text{
    color: $orange;
    font-weight: 900;
}

ion-button{
    --background: #EAB708;
}

ion-text, td{
    font-size: 12px;
}

ion-item{
    --border-color: #EAB708;
}

ion-menu-button, fa-icon, ion-toolbar {
    --background: #EAB708;
    --color : white;
}