<ion-content>

  <div class="spinner d-flex justify-content-center align-items-center" *ngIf="!isLoaded">
    <img src="../../../assets/spinner.gif" alt="spinner">
  </div>

  <div *ngIf="livraisons.length > 0 && isLoaded">
    <ion-text>
      <h4 class="orange-text text-center my-3">Bienvenue {{ livraisons[0].livreur.prenom}} {{ livraisons[0].livreur.nom}} !</h4>
      <h5 class="orange-text text-center my-3">Liste des livraisons</h5>
    </ion-text>
   
    <div class="d-flex justify-content-center align-items-center mb-2" style="width: 90%; margin: auto;">
      <ion-row style="border-bottom: 1px solid #EAB708; width: 100%; color: #EAB708;">
        <ion-col class="ion-text-center">
          <ion-label >N°</ion-label>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-label >Zone</ion-label>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-label >Commandes</ion-label>
        </ion-col>
      </ion-row>    
    </div>
    <div class="d-flex justify-content-center align-items-center mb-2" style="width: 90%; margin: auto;" *ngFor="let liv of livraisons; let i = index">
      <ion-row class="ion-text-center" style="border-bottom: 1px solid #EAB708; width:100%" (click)="showDetails(liv.id)" >
        <ion-col>
          <ion-text>#{{ liv.id }}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text> {{ liv.commandes[i].zone.nom}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>{{ liv.commandes.length }}</ion-text>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-text *ngIf="livraisons.length == 0 && isLoaded">
    <h5 class="text-danger mt-5 ion-text-center">Pas de livraison pour le moment !</h5>
  </ion-text>

</ion-content>
