<ion-header>
  <ion-toolbar>
    <ion-title>Catalogue</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <h4>Burgers</h4>
  <ion-card *ngFor="let burger of burgers">
    <ion-card-content>
      <img src="{{'data:image/jpg;base64,' + burger.image }}" alt="">
      <p>{{ burger.nom}}</p>
    </ion-card-content>
  </ion-card>
    
  <h4>Menus</h4>
  <ion-card *ngFor="let menu of menus">
    <ion-card-content>
      <img src="{{'data:image/jpg;base64,' + menu.image }}" alt="">
      <p>{{ menu.nom}}</p>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-content appParallaxHeader [scrollEvents]="true">
  <div class="parallaxImage" [style.background-image] = "'url(' + myImagePath + ')'"></div>

  <div class="main">

    <!-- <ion-row>
      <ion-col>
        <fa-icon [icon]="['fas', 'fa-grid-2']"></fa-icon>   
      </ion-col>
      <ion-col>
        <fa-icon [icon]="['fas', 'fa-list']"></fa-icon>   
      </ion-col>
    </ion-row> -->

    <ion-text><h4>Burgers</h4></ion-text>
    <app-card-row
     *ngFor="let burger of burgers" [produit]="burger"></app-card-row>

    <ion-text><h4>Menus</h4></ion-text>
    <app-card-row *ngFor="let menu of menus" [produit]="menu"></app-card-row>
  </div>

</ion-content>