$orange : #EAB708;

.fullheight {
    height: 100%;
  }
  
.xc {
display: flex;
align-items: center;
justify-content: center;
}

ion-button{
    --background: #EAB708;
    --border: 1px solid#eab704;
    --color: white;
    &:hover{
        --background: #fff;
        --color: #EAB708;
        ---ripple-color: #EAB708;
    }   
}

form{
    .form_error{
        font-size: 10px;
        color:  red;
    }
    
    .orange{
        color: $orange;
    }

    a{
        text-decoration: none;
        color: $orange;
        &:hover{
            color: black;
        }
    }

    img{
        width: 100px;
        height: 100px;
    }

    // has-focus {
    //     border: 2px solid #EAB708 !important;
    // }
}