<ion-header>
  <ion-toolbar>
    <ion-title>Catalogue</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="client-menu"></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>

  <ion-slides [options]="opts">
    <ion-slide *ngFor="let categorie of categories; let i = index">
      <ion-button fill="clear" [class.active-category]="activeCategory == i" (click)="selectCategory(i+1)">{{ categorie.name }}</ion-button>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content appParallaxHeader [scrollEvents]="true">
  <div class="parallaxImage" [style.background-image] = "'url(' + myImagePath + ')'"></div>

  <div class="main">

    <ion-toolbar>
      <ion-segment value="list" (ionChange) = "segmentChange($event)" >
        <ion-segment-button value="list">
          <ion-label>
            <fa-icon [icon]="['fas', 'list']"></fa-icon>   
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="grip">
          <ion-label>
            <fa-icon [icon]="['fas', 'grip']"></fa-icon>   
          </ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <section *ngFor="let categorie of categories" id="{{ categorie.id}}">
      <ion-text><h4>{{ categorie.name }}</h4></ion-text>
      <ng-container *ngIf="selectedSegment == 'list'">
        <app-card-row *ngFor="let prod of categorie.produits" [produit]="prod"></app-card-row>
      </ng-container>
      <ng-container *ngIf="selectedSegment == 'grip'">
        <app-card-grid *ngFor="let prod of categorie.produits" [produit]="prod"></app-card-grid>
      </ng-container>
    </section>

  </div>

</ion-content>